.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 8px; /* could have put padding: 8px in header instead */
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* redundant. could have put in ul above, but it works */
.left-links ul {
  display: flex;
  padding: 8px;
  gap: 12px;
}

.right-links ul {
  display: flex;
  padding: 8px;
  gap: 12px;
}
